@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@500;600;700&family=Mulish:wght@700&display=swap');

%dmsans-700 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

%mulish-700 {
  font-family: 'Mulish',sans-serif;
  font-weight: 700;
}

%montserrat-700 {
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
}

%montserrat-600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

%montserrat-500 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}