@media (max-width: 1200px) {
  .logo {
    max-width: 250px;
    & img {
      width: 100%;
    }
  }
  .book {
    &__inner {
      max-width: 990px;
    }
  }
  .reach {
    &__inner {
      align-items: center;
      flex-direction: column;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__inner {
      align-items: flex-start;
    }
  }
  .menu {
    &__link {
      color: #f40000;
    }
    &__btn {
      display: none;
    }
    &__list {
      position: absolute;
      right: 0;
      width: 100%;
      top: 55px;
      background-color: #fafafa;
      display: block;
      text-align: center;
      transform: translateY(-200%);
      z-index: 999;
      transition: all 0.3s;
    }
    &__burger {
      margin: 0 20px 0 50px;
      z-index: 999;
      position: relative;
      width: 30px;
      height: 30px;
      display: block;
      border: none;
      background-color: transparent;
      outline: none;
      & span {
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        background-color: #f40000;
        top: 21px;
        transition: all 0.3s;
      }
    }
    &__burger:before,
    &__burger:after {
      content: "";
      background-color: #f40000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s;
    }

    &__buregr:before {
      top: 0;
    }

    &__burger:after {
      bottom: 0;
    }
    &__item {
      & + & {
        margin-left: 0;
      }
    }
    &__link {
      display: block;
      padding: 30px 0;
      font-size: 33px;
    }
  }
  .btn {
    &__mobile {
      display: block;
      margin: 40px auto 0;
    }
  }
  .book {
    margin-bottom: 50px;
    margin-top: -200px;
    &__btn {
      margin-left: 20px;
      padding: 18px 24px;
      font-size: 14px;
    }
    &__inner {
      padding: 20px 30px 20px 0;
      max-width: 800px;
    }
    &__item {
      padding: 0px 50px 20px;
    }
  }
  .about {
    &__img {
      display: none;
    }
  }
  .footer{
    &__nav {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .tabs {
    &__items {
      display: flex;
      flex-direction: column;
      max-width: 100px;
      text-align: start;
    }
    &__item {
      margin-bottom: 15px;
     &+& {
       margin-left: 0;
     }
    }
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }
  .top {
    &__title {
      font-size: 32px;
      max-width: 350px;
      & span {
        font-size: 14px;
      }
    }
  }
  .book {
    margin-top: -300px;
    &__inner {
      max-width: 640px;
      padding: 20px 25px 20px 0;
    }
    &__item {
      padding: 0px 30px 20px;
    }
  }
  .tabs {
    margin-bottom: 40px;
  }
  .about {
    &__text {
      font-size: 16px;
    }
  }
  .facilities {
    &__items {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      margin-bottom: 30px;
    }
  }
  iframe {
    width: 600px !important;
  }
  .connect {
    &__phone {
      margin-left: 12px;
    }
  }
}

@media (max-width: 640px) {
    .connect {
    &__phone,
    &__name {
      padding: 13px 50px 13px 25px;
      width: 100%;
      margin-right: 0;
    }
  }
  .logo {
    max-width: 200px;
    & img {
      width: 100%;
    }
  }
  .top {
    display: none;
  }
  .book {
    margin-top: 20px;
    &__btn {
      margin-left: 18px;
      padding: 10px 14px;
      font-size: 10px;
    }
    &__item {
      padding: 0;
      & span {
        font-size: 10px;
        margin-bottom: 20px;
      }
    }
  }
  .jq-selectbox__select {
    font-size: 12px;
  }
  .gallery {
    &__items {
      margin: 0 auto;
      max-width: 300px;
    }
  }
  iframe {
    width: 400px !important;
  }
  .reach {
    &__map {
      margin-bottom: 30px;
    }
    &__info {
      font-size: 16px;
      & p {
        font-size: 18px;
      }
    }
  }
  .connect {
    &__phone,
    &__name,
    &__email,
    &__textarea {
      font-size: 12px;
      margin-left: 0;

    }
  }
  .button {
    font-size: 12px;
  }
}

@media (max-width: 410px) {
  .title {
    font-size: 24px;
  }
   .about {
    &__text {
      font-size: 14px;
    }
  }
  .logo {
    max-width: 150px;
    & img {
      width: 100%;
    }
  }
  .book {
    &__inner {
    padding: 10px 25px 10px 0;
    }
    &__btn {
         margin-left: 5px;
    padding: 7px 3px;
    font-size: 8px;
    }
    &__item {
      padding: 0;
      & span {
        margin-bottom: 15px;
        font-size: 10px;
      }
    }
    
  }
  .jq-selectbox__select {
    font-size: 10px;
  }
  iframe {
    width: 280px !important;
  }
  .footer {
    &__socials {
      display: flex;
      justify-content: center;
    }
    &__link {
      &+& {
        margin-left: 12px;
      }
    }
  }
}

@media (max-width: 320px) {
  .book {
    &__item {
        padding: 0px 5px 0px;
    }
  }
}
.menu__list.active {
  border-top: 1px solid #f40000;
  transform: translateY(0%);
  background-color: #fff;
  height: 100%;
}
