.button {
  background-color: #ffa943;
  border: none;
  @extend %montserrat-700;
  color: #fff;
  cursor: pointer;
  position: relative;
  padding: 15px 30px;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    transition: all ease-out 0.4s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}
