.header {
  height: 90px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  margin-left: 16px;
}

.menu {
  display: flex;
  &__burger {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    & + & {
      margin-left: 62px;
    }
  }
  &__link {
    color: $text;
    @extend %montserrat-700;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    &:hover {
      color: $accent;
    }
  }
}

.btn {
  margin-left: 42px;
  border: none;
  padding: 16px 34px;
  color: #ffffff;
  @extend %montserrat-700;
  font-size: 18px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: linear-gradient(249.32deg, $orange -17.52%, rgba(255, 255, 255, 0) 128.58%), #f40000;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    transition: all ease-out 0.4s;
    background-color: rgba(255, 255, 255, 0.2);
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
  &__mobile {
    display: none;
  }
}
